<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="SqlConnStr" providerName="System.Data.SqlClient" connectionString="Data Source=61.155.7.114,11433;Initial Catalog=TMS2016;User ID=sa;Pwd=dbadmin@asiatek.com" />
  </connectionStrings>
</configuration>
