<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <appSettings>
    <!--809上级平台Remoting服务远程终结点-->
    <add key="PlatformRemoting" value="61.155.7.112:10004"/>
    <!--后台终端通讯程序Remoting服务远程终结点-->
    <!--物流：61.155.7.114:3100-->
    <!--混凝土：221.226.183.174:3100-->
    <add key="TerminalRemoting" value="61.155.7.114:3100"/>
  </appSettings>
  <connectionStrings>
    <add name="SqlConnStr" providerName="System.Data.SqlClient" connectionString="Data Source=61.155.7.114,11433;Initial Catalog=TMS2016;User ID=sa;Pwd=dbadmin@asiatek.com" />
  </connectionStrings>
</configuration>
