@using Asiatek.Resource
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnAuth</title>
</head>
<body>
    <div>
        @PromptInformation.YouHaveNoPermission
    </div>
</body>
</html>
